* {
    margin: 0;
    padding: 0;
    text-align: center;
}

#heading {
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.circle {
    border: none;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 100px;
    margin-right: 100px;
}

.circle:hover {
    border: 5px solid black;
    cursor: pointer;
}

#rock {
    background: url("rock.webp");
    background-size: cover;
    background-position: center;
}

#paper {
    background-image: url("paper.jpg");
    background-size: cover;
    background-position: center;
}

#scissor {
    background-image: url("scissor.png");
    background-size: contain;
    background-position: center;
}

#score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}

#display-msg{
    margin-top: 5rem;
}
#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}